
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: rgb(142, 142, 146);
  --back-color: rgb(187, 154, 241);
  --bottom-color: rgb(158, 105, 243);
  --background-color: antiquewhite;
  --success-color: #28a745;
  --error-color: #dc3545;

}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}
